<!DOCTYPE html>
<html>
<head>
    <title>Rust Versions</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Rust Versions</h1>

    <ul>
        {% for version in versions %}
            <li>
                <span class="version-info"><a href="/info/{{ version.version }}">{{ version.version }}</a></span>
                <span class="version-date">({{ version.release_date }})</span>
                {% if version.latest_stable %} <span class="latest-label">(latest stable)</span>{% endif %}
                {% if version.latest_beta %} <span class="latest-label">(latest beta)</span>{% endif %}
                {% if version.latest_nightly %} <span class="latest-label">(latest nightly)</span>{% endif %}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
