<!DOCTYPE html>
<html>
<head>
    <title>Rust Versions</title>
    <style>
        body {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #007bff; /* Blue, for links */
        }

        .sidebar {
            width: 10%; /* Adjust width as needed */
            background-color: #f0f0f0; /* Light grey background */
            padding: 10px;
            height: 100vh; /* Make it full height */
            overflow-y: auto; /* Allow scrolling if many versions */
        }

        .content {
            flex-grow: 1; /* Allow content to take remaining space */
            padding: 20px;
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <h2>Versions</h2>
        <ul>
            {% for version in versions %}
                <li><a href=http://127.0.0.1:8080/info/{{ version.version }}>{{ version.version }}</a> {{ version.release_date }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <h1>Rust Versions</h1>

        <h2>Named Channels</h2>

        {% for channel in named_channels %}
            {% if channel.latest_stable %}
                <p>{{ channel.version }}: ({{ channel.release_date }}) - Latest Stable</p>
            {% endif %}
            {% if channel.latest_beta %}
                <p>{{ channel.version }}: ({{ channel.release_date }}) - Latest Beta</p>
            {% endif %}
            {% if channel.latest_nightly %}
                <p>{{ channel.version }}: ({{ channel.release_date }}) - Latest Nightly</p>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
