<!DOCTYPE html>
<html>
<head>
    <title>Rust Versions</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body {
            display: flex;
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <h2>Versions</h2>
        <ul>
            {% for version in versions %}
                <li><a href=http://127.0.0.1:8080/info/{{ version.version }}>{{ version.version }}</a> {{ version.release_date }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <h1>Rust Versions</h1>

        <h2>Named Channels</h2>

        {% for channel in named_channels %}
            {% if channel.latest_stable %}
                <p>Latest Stable: <a href=http://127.0.0.1:8080/info/{{ channel.version }}>{{ channel.version }}</a> ({{ channel.release_date }})</p>
            {% endif %}
            {% if channel.latest_beta %}
                <p>Latest Beta:<a href=http://127.0.0.1:8080/info/{{ channel.version }}>{{ channel.version }}</a> ({{ channel.release_date }})</p>
            {% endif %}
            {% if channel.latest_nightly %}
                <p>Latest Nightly: <a href=http://127.0.0.1:8080/info/{{ channel.version }}>{{ channel.version }}</a> ({{ channel.release_date }})</p>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
