<!DOCTYPE html>
<html>
<head>
    <title>{{ version.version }} - Rust Release Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>{{ version.version }}</h1>
    <p>Released on: {{ version.release_date }}</p>

    {% if version.latest_stable %}
        <p class="latest-stable">{{ version.version }} is the latest stable channel release.</p>
    {% endif %}
    {% if version.latest_beta %}
        <p class="latest-beta">{{ version.version }} is the latest beta channel release.</p>
    {% endif %}
    {% if version.latest_nightly %}
        <p class="latest-nightly">{{ version.version }} is the latest nightly channel release.</p>
    {% endif %}

    <h2>Components</h2>

    <table>
        <tr>
            <th>Component</th>
            <th>Version</th>
            <th>Git Commit</th>
            <th>Profile Complete</th>
            <th>Profile Default</th>
            <th>Profile Minimal</th>
        </tr>
        {% for component in version.components | sort(attribute="name") %}
            <tr>
                <td>{{ component.name }}</td>
                <td>{{ component.version }}</td>
                <td>{{ component.git_commit }}</td>
                <td style="background-color: {% if component.profile_complete %}green{% endif %};">
                    {{ component.profile_complete }}
                </td>
                <td style="background-color: {% if component.profile_default %}green{% endif %};">
                    {{ component.profile_default }}
                </td>
                <td style="background-color: {% if component.profile_minimal %}green{% endif %};">
                    {{ component.profile_minimal }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% for component in version.components %}
      {% if component.target %}
      <div class="component-details">
        <h3>{{component.name}} Target Details</h3>
        <ul>
          {% for target in component.target %}
            <li>
              <strong>{{target.name}}</strong>: <a href="{{target.url}}">{{target.url}}</a> (Hash: {{target.hash}})
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}

    {% if version.artefacts %}
    <h2>Artefacts</h2>
    <table>
        <tr>
        <th>Type</th>
        <th>URL</th>
        <th>SHA256 Hash</th>
        {% for artefact in version.artefacts | sort(attribute="artefact_type") %}
            <tr>
                <td>{{ artefact.artefact_type }}</td>
                <td><a href="{{ artefact.url }}">{{ artefact.url }}</a></td>
                <td>{{ artefact.hash }}</td>
            </tr>
        {% endfor %}
        </tr>
    </table>
    {% endif %}
</body>
</html>
